SCI/Web References/Corporativo.IRKO/ADM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://www.irko.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.irko.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.irko.com.br">
      <s:element name="CadastrarCertificado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
            <s:element minOccurs="0" name="Certificado" type="s0:Certificado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Certificado">
        <s:sequence>
          <s:element name="Alias" type="s:string" />
          <s:element minOccurs="0" name="OwnerList" type="s:string" />
          <s:element name="Certificate" type="s:base64Binary" />
          <s:element name="PrivateKeyType">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="RSA" />
                <s:enumeration value="DSA" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PrivateKey" type="s:string" />
          <s:element minOccurs="0" name="PrivateKeyPassword" type="s:string" />
          <s:element minOccurs="0" name="CAFile" type="s:string" />
          <s:element minOccurs="0" name="PeerNames" type="s:string" />
          <s:element minOccurs="0" name="SubjectKeyIdentifier" type="s:base64Binary" />
          <s:element minOccurs="0" name="Thumbprint" type="s:base64Binary" />
          <s:element minOccurs="0" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" name="IssuerDN" type="s:string" />
          <s:element minOccurs="0" name="SubjectDN" type="s:string" />
          <s:element minOccurs="0" name="ValidityNotBefore" type="s:dateTime" />
          <s:element minOccurs="0" name="ValidityNotAfter" type="s:dateTime" />
          <s:element minOccurs="0" name="CNPJCPF" type="s:string" />
          <s:element minOccurs="0" name="PfxFile" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="CadastrarCertificadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CadastrarCertificadoResult" type="s0:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoLogin">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoResultadoLogin" type="s0:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" name="DivisorLinha" type="s:string" />
          <s:element minOccurs="0" name="Tag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element name="Codigo" type="s:long" />
          <s:element name="DataInicio" type="s:date" />
          <s:element minOccurs="0" name="Nome" type="s:string" />
          <s:element minOccurs="0" name="Senha" type="s:string" />
          <s:element minOccurs="0" name="Status" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoMontarMenu">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoResultadoMontarMenu" type="s0:ArrayOfMenuMenu" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfMenuMenu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="s0:Menu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Menu">
        <s:sequence>
          <s:element minOccurs="0" name="MenusInferiores" type="s0:ArrayOfMenuMenu" />
          <s:element name="Menu">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Descricao" type="s:string" />
          <s:element name="Tipo">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
                <s:enumeration value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element name="Status">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Namespace" type="s:string" />
          <s:element minOccurs="0" name="Programa" type="s:string" />
          <s:element minOccurs="0" name="Bloqueio">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
                <s:enumeration value="2" />
                <s:enumeration value="3" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PermiteTrocaEmpresa" type="s:boolean" />
          <s:element minOccurs="0" name="PermiteMultiTela" type="s:boolean" />
          <s:element minOccurs="0" name="OpcaoMenuCOS" type="s:string" />
          <s:element minOccurs="0" name="PermiteEditar" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoListarEmpresa">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoListarEmpresa" type="s0:ArrayOfEmpresaEmpresa" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfEmpresaEmpresa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="s0:Empresa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Empresa">
        <s:sequence>
          <s:element name="Codigo" type="s:long" />
          <s:element minOccurs="0" name="RazaoSocial">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="55" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CNPJCPF" type="s:string" />
          <s:element minOccurs="0" name="Status" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoRecuperarCertificado">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoRecuperarCertificado" type="s0:Certificado" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultadoCampo">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoCampo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultadoListarIdioma">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoListarIdioma" type="s0:ArrayOfIdiomaIdioma" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIdiomaIdioma">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Idioma" nillable="true" type="s0:Idioma" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Idioma">
        <s:sequence>
          <s:element name="Codigo" type="s:string" />
          <s:element minOccurs="0" name="Descricao" type="s:string" />
          <s:element minOccurs="0" name="Habilitado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoPainel">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoPainel" type="s0:Painel" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Painel">
        <s:sequence>
          <s:element minOccurs="0" name="TotalLincenca" type="s:long" />
          <s:element minOccurs="0" name="UsoAtualLicenca" type="s:long" />
          <s:element minOccurs="0" name="TotalLogadoIrko" type="s:long" />
          <s:element minOccurs="0" name="RotinaSistemaIrko" type="s0:ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong" />
          <s:element minOccurs="0" name="TamanhoLock" type="s:long" />
          <s:element minOccurs="0" name="UsoLock" type="s:long" />
          <s:element minOccurs="0" name="LockLivre" type="s:long" />
          <s:element minOccurs="0" name="LockSistema" type="s:long" />
          <s:element minOccurs="0" name="WorkUsado" type="s:long" />
          <s:element minOccurs="0" name="Chamados" type="s0:ArrayOfChamadoChamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RotinaSistemaIrkoItem" nillable="true" type="s0:PairOfRotinaSistemaIrkoKeyLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PairOfRotinaSistemaIrkoKeyLong">
        <s:simpleContent>
          <s:extension base="s:long">
            <s:attribute name="RotinaSistemaIrkoKey" type="s:string" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="ArrayOfChamadoChamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chamado" nillable="true" type="s0:Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chamado">
        <s:sequence>
          <s:element minOccurs="0" name="ANOMES" type="s:string" />
          <s:element minOccurs="0" name="Nome" type="s:string" />
          <s:element minOccurs="0" name="TotalChamado" type="s:string" />
          <s:element minOccurs="0" name="Fechado" type="s:string" />
          <s:element minOccurs="0" name="NaoProcede" type="s:string" />
          <s:element minOccurs="0" name="Pendente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ListarEmpresaResult" type="s0:ResultadoListarEmpresa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarCertificado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
            <s:element minOccurs="0" name="CNPJCPF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarCertificadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="RecuperarCertificadoResult" type="s0:ResultadoRecuperarCertificado" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastrarCertificadoSoapIn">
    <wsdl:part name="parameters" element="s0:CadastrarCertificado" />
  </wsdl:message>
  <wsdl:message name="CadastrarCertificadoSoapOut">
    <wsdl:part name="parameters" element="s0:CadastrarCertificadoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEmpresaSoapIn">
    <wsdl:part name="parameters" element="s0:ListarEmpresa" />
  </wsdl:message>
  <wsdl:message name="ListarEmpresaSoapOut">
    <wsdl:part name="parameters" element="s0:ListarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarCertificadoSoapIn">
    <wsdl:part name="parameters" element="s0:RecuperarCertificado" />
  </wsdl:message>
  <wsdl:message name="RecuperarCertificadoSoapOut">
    <wsdl:part name="parameters" element="s0:RecuperarCertificadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CadastrarCertificado">
      <wsdl:input message="s0:CadastrarCertificadoSoapIn" />
      <wsdl:output message="s0:CadastrarCertificadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <wsdl:input message="s0:ListarEmpresaSoapIn" />
      <wsdl:output message="s0:ListarEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarCertificado">
      <wsdl:input message="s0:RecuperarCertificadoSoapIn" />
      <wsdl:output message="s0:RecuperarCertificadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="s0:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarCertificado">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Corporativo.CadastrarCertificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Corporativo.ListarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarCertificado">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Corporativo.RecuperarCertificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="s0:ServiceSoap">
      <soap:address location="https://www.irko.com.br:443/csp/admsys/ADM.WebService.Corporativo.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>