SCI/Web References/Sistema.IRKOMPACTA/ADM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://www.irko.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.irko.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.irko.com.br">
      <s:element name="ListarLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarLockResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ListarLockResult" type="s0:ArrayOfLockLock" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLockLock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lock" nillable="true" type="s0:Lock" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lock">
        <s:sequence>
          <s:element minOccurs="0" name="DelKey" type="s:string" />
          <s:element minOccurs="0" name="Owner" type="s:string" />
          <s:element minOccurs="0" name="Mode" type="s:string" />
          <s:element minOccurs="0" name="Flags" type="s:string" />
          <s:element minOccurs="0" name="Counts" type="s:string" />
          <s:element minOccurs="0" name="Sfn" type="s:long" />
          <s:element minOccurs="0" name="LockString" type="s:string" />
          <s:element minOccurs="0" name="FullReference" type="s:string" />
          <s:element minOccurs="0" name="WaiterPID" type="s:string" />
          <s:element minOccurs="0" name="WaiterMode" type="s:string" />
          <s:element minOccurs="0" name="WaiterType" type="s:string" />
          <s:element minOccurs="0" name="RemoteOwner" type="s:boolean" />
          <s:element minOccurs="0" name="EscalateInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Painel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PainelResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="PainelResult" type="s0:ResultadoPainel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoPainel">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoPainel" type="s0:Painel" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" name="DivisorLinha" type="s:string" />
          <s:element minOccurs="0" name="Tag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Painel">
        <s:sequence>
          <s:element minOccurs="0" name="TotalLincenca" type="s:long" />
          <s:element minOccurs="0" name="UsoAtualLicenca" type="s:long" />
          <s:element minOccurs="0" name="TotalLogadoIrko" type="s:long" />
          <s:element minOccurs="0" name="RotinaSistemaIrko" type="s0:ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong" />
          <s:element minOccurs="0" name="TamanhoLock" type="s:long" />
          <s:element minOccurs="0" name="UsoLock" type="s:long" />
          <s:element minOccurs="0" name="LockLivre" type="s:long" />
          <s:element minOccurs="0" name="LockSistema" type="s:long" />
          <s:element minOccurs="0" name="WorkUsado" type="s:long" />
          <s:element minOccurs="0" name="Chamados" type="s0:ArrayOfChamadoChamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RotinaSistemaIrkoItem" nillable="true" type="s0:PairOfRotinaSistemaIrkoKeyLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PairOfRotinaSistemaIrkoKeyLong">
        <s:simpleContent>
          <s:extension base="s:long">
            <s:attribute name="RotinaSistemaIrkoKey" type="s:string" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="ArrayOfChamadoChamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chamado" nillable="true" type="s0:Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chamado">
        <s:sequence>
          <s:element minOccurs="0" name="ANOMES" type="s:string" />
          <s:element minOccurs="0" name="Nome" type="s:string" />
          <s:element minOccurs="0" name="TotalChamado" type="s:string" />
          <s:element minOccurs="0" name="Fechado" type="s:string" />
          <s:element minOccurs="0" name="NaoProcede" type="s:string" />
          <s:element minOccurs="0" name="Pendente" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarLockSoapIn">
    <wsdl:part name="parameters" element="s0:ListarLock" />
  </wsdl:message>
  <wsdl:message name="ListarLockSoapOut">
    <wsdl:part name="parameters" element="s0:ListarLockResponse" />
  </wsdl:message>
  <wsdl:message name="PainelSoapIn">
    <wsdl:part name="parameters" element="s0:Painel" />
  </wsdl:message>
  <wsdl:message name="PainelSoapOut">
    <wsdl:part name="parameters" element="s0:PainelResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ListarLock">
      <wsdl:input message="s0:ListarLockSoapIn" />
      <wsdl:output message="s0:ListarLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Painel">
      <wsdl:input message="s0:PainelSoapIn" />
      <wsdl:output message="s0:PainelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="s0:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarLock">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Sistema.ListarLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Painel">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Sistema.Painel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="s0:ServiceSoap">
      <soap:address location="http://187.32.61.1:57772/csp/admsys/ADM.WebService.Sistema.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>