SCI/Web References/Acesso.IRKO/ADM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://www.irko.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.irko.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.irko.com.br">
      <s:element name="GravarMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
            <s:element minOccurs="0" name="Menu" type="s0:Menu" />
            <s:element minOccurs="0" name="MenuSuperior" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Menu">
        <s:sequence>
          <s:element minOccurs="0" name="MenusInferiores" type="s0:ArrayOfMenuMenu" />
          <s:element name="Menu">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Descricao" type="s:string" />
          <s:element name="Tipo">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
                <s:enumeration value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element name="Status">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Namespace" type="s:string" />
          <s:element minOccurs="0" name="Programa" type="s:string" />
          <s:element minOccurs="0" name="Bloqueio">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="0" />
                <s:enumeration value="1" />
                <s:enumeration value="2" />
                <s:enumeration value="3" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PermiteTrocaEmpresa" type="s:boolean" />
          <s:element minOccurs="0" name="PermiteMultiTela" type="s:boolean" />
          <s:element minOccurs="0" name="OpcaoMenuCOS" type="s:string" />
          <s:element minOccurs="0" name="PermiteEditar" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMenuMenu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="s0:Menu" />
        </s:sequence>
      </s:complexType>
      <s:element name="GravarMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GravarMenuResult" type="s0:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoLogin">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoResultadoLogin" type="s0:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" name="DivisorLinha" type="s:string" />
          <s:element minOccurs="0" name="Tag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element name="Codigo" type="s:long" />
          <s:element name="DataInicio" type="s:date" />
          <s:element minOccurs="0" name="Nome" type="s:string" />
          <s:element minOccurs="0" name="Senha" type="s:string" />
          <s:element minOccurs="0" name="Status" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoMontarMenu">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoResultadoMontarMenu" type="s0:ArrayOfMenuMenu" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultadoListarEmpresa">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoListarEmpresa" type="s0:ArrayOfEmpresaEmpresa" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfEmpresaEmpresa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="s0:Empresa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Empresa">
        <s:sequence>
          <s:element name="Codigo" type="s:long" />
          <s:element minOccurs="0" name="RazaoSocial">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="55" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CNPJCPF" type="s:string" />
          <s:element minOccurs="0" name="Status" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoRecuperarCertificado">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoRecuperarCertificado" type="s0:Certificado" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Certificado">
        <s:sequence>
          <s:element name="Alias" type="s:string" />
          <s:element minOccurs="0" name="OwnerList" type="s:string" />
          <s:element name="Certificate" type="s:base64Binary" />
          <s:element name="PrivateKeyType">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="RSA" />
                <s:enumeration value="DSA" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PrivateKey" type="s:string" />
          <s:element minOccurs="0" name="PrivateKeyPassword" type="s:string" />
          <s:element minOccurs="0" name="CAFile" type="s:string" />
          <s:element minOccurs="0" name="PeerNames" type="s:string" />
          <s:element minOccurs="0" name="SubjectKeyIdentifier" type="s:base64Binary" />
          <s:element minOccurs="0" name="Thumbprint" type="s:base64Binary" />
          <s:element minOccurs="0" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" name="IssuerDN" type="s:string" />
          <s:element minOccurs="0" name="SubjectDN" type="s:string" />
          <s:element minOccurs="0" name="ValidityNotBefore" type="s:dateTime" />
          <s:element minOccurs="0" name="ValidityNotAfter" type="s:dateTime" />
          <s:element minOccurs="0" name="CNPJCPF" type="s:string" />
          <s:element minOccurs="0" name="PfxFile" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoCampo">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoCampo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultadoListarIdioma">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoListarIdioma" type="s0:ArrayOfIdiomaIdioma" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIdiomaIdioma">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Idioma" nillable="true" type="s0:Idioma" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Idioma">
        <s:sequence>
          <s:element name="Codigo" type="s:string" />
          <s:element minOccurs="0" name="Descricao" type="s:string" />
          <s:element minOccurs="0" name="Habilitado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoPainel">
        <s:complexContent mixed="false">
          <s:extension base="s0:Resultado">
            <s:sequence>
              <s:element minOccurs="0" name="RetornoPainel" type="s0:Painel" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Painel">
        <s:sequence>
          <s:element minOccurs="0" name="TotalLincenca" type="s:long" />
          <s:element minOccurs="0" name="UsoAtualLicenca" type="s:long" />
          <s:element minOccurs="0" name="TotalLogadoIrko" type="s:long" />
          <s:element minOccurs="0" name="RotinaSistemaIrko" type="s0:ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong" />
          <s:element minOccurs="0" name="TamanhoLock" type="s:long" />
          <s:element minOccurs="0" name="UsoLock" type="s:long" />
          <s:element minOccurs="0" name="LockLivre" type="s:long" />
          <s:element minOccurs="0" name="LockSistema" type="s:long" />
          <s:element minOccurs="0" name="WorkUsado" type="s:long" />
          <s:element minOccurs="0" name="Chamados" type="s0:ArrayOfChamadoChamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRotinaSistemaIrkoItemPairOfRotinaSistemaIrkoKeyLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RotinaSistemaIrkoItem" nillable="true" type="s0:PairOfRotinaSistemaIrkoKeyLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PairOfRotinaSistemaIrkoKeyLong">
        <s:simpleContent>
          <s:extension base="s:long">
            <s:attribute name="RotinaSistemaIrkoKey" type="s:string" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="ArrayOfChamadoChamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chamado" nillable="true" type="s0:Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chamado">
        <s:sequence>
          <s:element minOccurs="0" name="ANOMES" type="s:string" />
          <s:element minOccurs="0" name="Nome" type="s:string" />
          <s:element minOccurs="0" name="TotalChamado" type="s:string" />
          <s:element minOccurs="0" name="Fechado" type="s:string" />
          <s:element minOccurs="0" name="NaoProcede" type="s:string" />
          <s:element minOccurs="0" name="Pendente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="CodigoUsuario" type="s:string" />
            <s:element minOccurs="0" name="SenhaUsuario" type="s:string" />
            <s:element minOccurs="0" name="CodigoIdioma" type="s:string" />
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="LoginResult" type="s0:ResultadoLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="LogoutResult" type="s0:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MontarMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MontarMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="MontarMenuResult" type="s0:ResultadoMontarMenu" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelecionarEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Guid" type="s:string" />
            <s:element minOccurs="0" name="CodigoEmpresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelecionarEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SelecionarEmpresaResult" type="s0:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GravarMenuSoapIn">
    <wsdl:part name="parameters" element="s0:GravarMenu" />
  </wsdl:message>
  <wsdl:message name="GravarMenuSoapOut">
    <wsdl:part name="parameters" element="s0:GravarMenuResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="s0:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="s0:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="s0:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="s0:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="MontarMenuSoapIn">
    <wsdl:part name="parameters" element="s0:MontarMenu" />
  </wsdl:message>
  <wsdl:message name="MontarMenuSoapOut">
    <wsdl:part name="parameters" element="s0:MontarMenuResponse" />
  </wsdl:message>
  <wsdl:message name="SelecionarEmpresaSoapIn">
    <wsdl:part name="parameters" element="s0:SelecionarEmpresa" />
  </wsdl:message>
  <wsdl:message name="SelecionarEmpresaSoapOut">
    <wsdl:part name="parameters" element="s0:SelecionarEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GravarMenu">
      <wsdl:input message="s0:GravarMenuSoapIn" />
      <wsdl:output message="s0:GravarMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="s0:LoginSoapIn" />
      <wsdl:output message="s0:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="s0:LogoutSoapIn" />
      <wsdl:output message="s0:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MontarMenu">
      <wsdl:input message="s0:MontarMenuSoapIn" />
      <wsdl:output message="s0:MontarMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarEmpresa">
      <wsdl:input message="s0:SelecionarEmpresaSoapIn" />
      <wsdl:output message="s0:SelecionarEmpresaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="s0:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarMenu">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Acesso.GravarMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Acesso.Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Acesso.Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MontarMenu">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Acesso.MontarMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarEmpresa">
      <soap:operation soapAction="http://www.irko.com.br/ADM.WebService.Acesso.SelecionarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="s0:ServiceSoap">
      <soap:address location="https://www.irko.com.br:443/csp/admsys/ADM.WebService.Acesso.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>